*{
    padding: 0;
    margin: 0;
}
nav{
    padding: 10px;
    background-color: black;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    display: flex;
    
  
}
ul{
    padding-right: 50px;
}
li{
    display: inline;
    color: grey;
    padding-left: 5px;

    
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
    width: 80%;
    padding: 15px;
    border-color: black;
    
}
.search{
    padding: 25px;
    text-align: center;
}
.box{
    border-bottom: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
   
}
.box:hover{
    background-color: black;
    color:white;
}
.products{
    
    text-align:center
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    height: 31vh;
    
}
